<app-header></app-header>

<div class="background-image">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h2>Reset Password</h2>
                    </div>
                    <div class="card-body">
                        <form #myform="ngForm" method="post" (ngSubmit)="resetpassword(myform.value)">

                            <label for="uname">Username</label>
                            <input type="text" id="uname" #unamecontrol="ngModel" name="username"
                                placeholder="Please Enter Your Username" required ngModel><br>
                            <span style="color: red;" *ngIf="unamecontrol.touched && unamecontrol.invalid">Username is
                                Mandatory</span><br>

                            <label for="pass">New Password</label>
                            <input type="password" id="pass" #passcontrol="ngModel" name="newPassword"
                                placeholder="Please Enter New Password" required ngModel><br>
                            <span style="color: red;" *ngIf="passcontrol.touched && passcontrol.invalid">Password is
                                Mandatory</span><br>


                            <button type="submit" [disabled]="myform.invalid">Submit</button>
                        </form>






                    </div>

                </div>

                <br>
            </div>
        </div>
    </div>
</div>