<div class="background-image">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-20">
                <div class="card">
                    <div class="card-header">
                        <h2>Hotels List</h2>
                    </div>
                    <div class="card-body">
                        <!-- Search bar -->
                        <div class="d-flex" style="margin-bottom: 2%;">
                            <input class="form-control" type="search" placeholder="Search by Location"
                                aria-label="Search" [(ngModel)]="search">
                            <button type="button" class="btn btn-outline-info ml-3" (click)="searchHotelByLocation()">
                                <i class="bi bi-search"></i>
                                Search By Location
                            </button>
                            <button type="button" class="btn btn-outline-info ml-3" (click)="searchHotelByName()">
                                <i class="bi bi-search"></i>
                                Search By Name
                            </button>
                        </div>

                        <!-- Table -->
                        <table>
                            <thead>
                                <tr>
                                    <th>Hotel ID</th>
                                    <th>Hotel Name</th>
                                    <th>Location</th>
                                    <th>Dining</th>
                                    <th>Parking</th>
                                    <th>Free WiFi</th>
                                    <th>Room Service</th>
                                    <th>Swimming Pool</th>
                                    <th>Fitness Center</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let hotel of pagedHotelsList">
                                    <td>{{ hotel.hotelId }}</td>
                                    <td>{{ hotel.hotelName }}</td>
                                    <td>{{ hotel.location }}</td>
                                    <td>{{ hotel.hasDining ? 'Available' : 'Not Available' }}</td>
                                    <td>{{ hotel.hasParking ? 'Available' : 'Not Available' }}</td>
                                    <td>{{ hotel.hasFreeWiFi ? 'Available' : 'Not Available' }}</td>
                                    <td>{{ hotel.hasRoomService ? 'Available' : 'Not Available' }}</td>
                                    <td>{{ hotel.hasSwimmingPool ? 'Available' : 'Not Available' }}</td>
                                    <td>{{ hotel.hasFitnessCenter ? 'Available' : 'Not Available' }}</td>
                                    <td>
                                        <button type="button" class="btn btn-primary custom-btn"
                                            (click)="goToRoom(hotel.hotelId, hotel.hotelName)">
                                            See Rooms
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- MatPaginator for pagination -->
                        <mat-paginator [length]="totalHotels" [pageSize]="itemsPerPage"
                            [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageChange($event)">
                        </mat-paginator>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>