<div class="background-image">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">
                        <h2>Rooms List</h2>
                    </div>
                    <div class="card-body">
                        <table class="table" *ngIf="roomList && roomList.length > 0">
                            <thead>
                                <tr>
                                    <th>Room ID</th>
                                    <th>Room Size</th>
                                    <th>Bed Type</th>
                                    <th>Max Occupancy</th>
                                    <th>Base Fare</th>
                                    <th>AC</th>
                                    <th>Availability Status</th>
                                    <th>Update Room</th>
                                    <th>Delete Room</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let room of pagedRoomList">
                                    <td>{{ room.roomId }}</td>
                                    <td>{{ room.roomSize }}</td>
                                    <td>{{ room.bedType }}</td>
                                    <td>{{ room.maxOccupancy }}</td>
                                    <td>{{ room.baseFare }}</td>
                                    <td>{{ room.ac ? 'Yes' : 'No' }}</td>
                                    <td>{{ room.availabilityStatus ? 'Available' : 'Not Available' }}</td>
                                    <td>
                                        <button class="btn btn-primary"
                                            (click)="updateRoom(room.roomId)">Update</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger" (click)="deleteRoom(room.roomId)">Delete</button>
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                        <mat-paginator [length]="totalRooms" [pageSize]="itemsPerPage"
                            [pageSizeOptions]="[1, 5, 10, 25, 100]" (page)="onPageChange($event)"></mat-paginator>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>