<app-header></app-header>
<div class="background-image">
    <img src="/assets/home.jpg" alt="home" class="hero-home">
</div>
<div class="wrapper">
    <div class="container">
        <h1 class="animate-on-scroll">Welcome to Cozy Haven</h1>
        <br>
        <h5 class="animate-on-scroll">Start exploring and book rooms for your next stay here!</h5>
        <br><br>
        <div class="row">
            <div class="col-md-4">
                <div class="card animate-on-hover">
                    <div class="card-side card-side-front">
                        <img src="assets/standard-room.jpg" class="card-img-top room-image" alt="Single Bed">
                        <h5 class="card-title" style="color: black;">Single Bed</h5>
                    </div>
                    <div class="card-side card-side-back">
                        <div class="card-body">
                            <p class="card-text">A cozy single-bed room offering essential amenities for a comfortable
                                stay.</p>
                            <a routerLink="/login" class="btn btn-primary">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card animate-on-hover">
                    <div class="card-side card-side-front">
                        <img src="assets/deluxe-room.jpg" class="card-img-top room-image" alt="Double Bed">
                        <h5 class="card-title">Double Bed</h5>
                    </div>
                    <div class="card-side card-side-back">
                        <div class="card-body">
                            <p class="card-text">A spacious double bedroom with modern comforts for a delightful stay..
                            </p>
                            <a routerLink="/login" class="btn btn-primary">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card animate-on-hover">
                    <div class="card-side card-side-front">
                        <img src="assets/suite-room.jpg" class="card-img-top room-image" alt="King Size Bed">
                        <h5 class="card-title">King Size Bed</h5>
                    </div>
                    <div class="card-side card-side-back">
                        <div class="card-body">
                            <p class="card-text">A luxurious king-size bed room with modern amenities for an indulgent
                                stay.</p>
                            <a routerLink="/login" class="btn btn-primary">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>



    </div>
</div>
<app-footer></app-footer>