<app-header></app-header>


<br>
<div class="background-image">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex align-items-center justify-content-center">
                <h4 style="display: inline-block;">Discover Our Amazing Hotels</h4>
                <a routerLink="/hotel-list" class="btn btn-custom ml-auto" id="seeAllHotelsBtn">See all Hotels</a>
            </div>


        </div>
        <div class="row">
            <div class="col-md-12  align-items-center">
                <div class="second hero">
                    <img class="hero-profile-img" src="../assets/hotel1.jpg" alt="">
                    <div class="hero-description-bk"></div>
                    <div class="hero-logo">
                        <img src="../assets/logo.jpg" alt="logo">
                    </div>
                    <div class="hero-description">
                        <p>5 Star Hotel [MUMBAI]</p>
                    </div>
                    <div class="hero-facilities">
                        <ul>
                            <li>Dining</li>
                            <li>Parking</li>
                            <li>Free WiFi</li>
                            <li>RoomService</li>
                            <li>Swimming Pool</li>
                        </ul>
                    </div>
                    <div class="hero-btn">
                        <a routerLink="/login">Book</a>

                    </div>
                </div>

                <div class="second hero">
                    <img class="hero-profile-img" src="../assets/hotel2.jpg" alt="">
                    <div class="hero-description-bk"></div>
                    <div class="hero-logo">
                        <img src="../assets/logo.jpg" alt="logo">
                    </div>
                    <div class="hero-description">
                        <p>NOVOTEL [DELHI]
                        </p>
                    </div>
                    <div class="hero-facilities">
                        <ul>
                            <li>Parking</li>
                            <li>Free WiFi</li>
                            <li>Swimming Pool</li>
                            <li>Fitness Center</li>
                            <li>RoomService</li>
                        </ul>
                    </div>
                    <div class="hero-btn">
                        <a routerLink="/login">Book</a>

                    </div>
                </div>
                <div class="second hero">
                    <img class="hero-profile-img" src="../assets/hotel3.jpg" alt="">
                    <div class="hero-description-bk"></div>
                    <div class="hero-logo">
                        <img src="../assets/logo.jpg" alt="logo">
                    </div>
                    <div class="hero-description">
                        <p>HOTEL TAJ BANJARA [HYDERBAD]</p>
                    </div>
                    <div class="hero-facilities">
                        <ul>
                            <li>Dining</li>
                            <li>Parking</li>
                            <li>Free WiFi</li>
                            <li>Room Service</li>
                            <li>Swimming Pool</li>
                        </ul>
                    </div>
                    <div class="hero-btn">
                        <a routerLink="/login">Book</a>

                    </div>
                </div>
                <div class="second hero">
                    <img class="hero-profile-img" src="../assets/hotel4.png" alt="">
                    <div class="hero-description-bk"></div>
                    <div class="hero-logo">
                        <img src="../assets/logo.jpg" alt="logo">
                    </div>
                    <div class="hero-description">
                        <p>RADISSION [CHENNAI]</p>
                    </div>
                    <div class="hero-facilities">
                        <ul>
                            <li>Parking</li>
                            <li>Free WiFi</li>
                            <li>Room Service</li>
                            <li>Fitness Center</li>
                            <li>Swimming Pool</li>
                        </ul>
                    </div>
                    <div class="hero-btn">
                        <a routerLink="/login">Book</a>

                    </div>
                </div>
                <div class="second hero">
                    <img class="hero-profile-img" src="../assets/hotel5.jpg" alt="">
                    <div class="hero-description-bk"></div>
                    <div class="hero-logo">
                        <img src="../assets/logo.jpg" alt="logo">
                    </div>
                    <div class="hero-description">
                        <p>ROYAL RITZ [HUBLI]</p>
                    </div>
                    <div class="hero-facilities">
                        <ul>
                            <li>Dining</li>
                            <li>Free WiFi</li>
                            <li>Swimming Pool</li>
                            <li>Room Service</li>
                            <li>Fitness Center</li>
                        </ul>
                    </div>
                    <div class="hero-btn">
                        <a routerLink="/login">Book</a>

                    </div>
                </div>
                <div class="second hero">
                    <img class="hero-profile-img" src="../assets/hotel6.jpg" alt="">
                    <div class="hero-description-bk"></div>
                    <div class="hero-logo">
                        <img src="../assets/logo.jpg" alt="logo">
                    </div>
                    <div class="hero-description">
                        <p>ONLY FOR VIPS [HYDERBAD]</p>
                    </div>
                    <div class="hero-facilities">
                        <ul>
                            <li>Dining</li>
                            <li>Free WiFi</li>
                            <li>Room Service</li>
                            <li>Swimming Pool</li>
                            <li>Fitness Center</li>
                        </ul>
                    </div>
                    <div class="hero-btn">
                        <a routerLink="/login">Book</a>

                    </div>




                </div>
            </div>
        </div>
    </div>


    <app-footer></app-footer>