<div class="background-image">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-20">
                <div class="card">
                    <div class="card-header">
                        <h2>Admin Manage Booking</h2>
                    </div>
                    <div class="card-body">

                        <div class="d-flex justify-content-center mb-3">
                            <button class="btn btn-primary" type="button"
                                routerLink="/admin-navbar/search-reservation-by-userid">Search reservation
                                by User ID</button>
                            <div style="width: 10px;"></div>
                            <button class="btn btn-primary" type="button"
                                routerLink="/admin-navbar/search-reservation-by-hotelid">Search
                                reservations by Hotel ID</button>
                        </div>


                        <div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>