.navbar-brand img {
    height: 40px;
    width: auto;
    margin-right: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #b18800(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.navbar-brand img:hover {
    transform: rotate(360deg);
}






.navbar {
    background-color: #f8f9fa;
    padding: 10px;
    width: 100%;
    margin: 0 auto;

}

.navbar-brand {
    font-size: 20px;
    font-weight: bold;
    color: #b18800;
}

.navbar-nav li {
    margin: 0 10px;
}

.navbar-nav a {
    text-decoration: none;
    color: #333;
    position: relative;
    font-weight: bold;
    transition: color 0.3s;
}


.navbar-nav a:hover {
    color: #b18800;

}


.navbar-nav a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #b18800;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.navbar-nav a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.butt1 {
    height: 40px;
    width: 120px;
    background-color: transparent;
    color: #b18800;
    border: 3px solid;
    border-radius: 20px;
    font-size: 19px;
    font-weight: bold;
    margin-right: 2px;
}



.butt1:hover {
    opacity: 0.8;

}