.footer {
    background-color: #f8f8f8;
    padding: 20px 0;
}

.footer p {
    margin: 0;
}

.footer-links li {
    display: inline-block;
    margin-right: 10px;
}

.footer-links li:last-child {
    margin-right: 0;
}

.footer-links a {
    color: #555555;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}