<div class="background-image">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h2>Check Users Booking</h2>
                    </div>

                    <!-- Search bar with button -->
                    <div class="card-body">
                        <div class="d-flex justify-content-end mt-3">
                            <div class="input-group custom-search-bar">
                                <input type="number" class="form-control" placeholder="Search by User ID"
                                    [(ngModel)]="userId">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button" (click)="searchByUserId()">Search
                                        Reservations by User
                                        ID</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Separate Card for Search Results -->
        <div class="row justify-content-center mt-4">
            <div class="col-md-11">
                <div class="card">
                    <div class="card-header">
                        <h2>Search Results</h2>
                    </div>
                    <div class="card-body">
                        <div class="mt-4">
                            <table class="table" *ngIf="pagedSearchResults && pagedSearchResults.length > 0">
                                <thead>
                                    <tr>
                                        <th>Reservation ID</th>
                                        <th>Check-In Date</th>
                                        <th>Check-Out Date</th>
                                        <th>Number of Adults</th>
                                        <th>Number of Children</th>
                                        <th>Total Amount</th>
                                        <th>Reservation Status</th>
                                        <th>Refund Processed</th>
                                        <!-- <th>Action</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let reservation of pagedSearchResults">
                                        <td>{{ reservation.reservationId }}</td>
                                        <td>{{ reservation.checkInDate }}</td>
                                        <td>{{ reservation.checkOutDate }}</td>
                                        <td>{{ reservation.numberOfAdults }}</td>
                                        <td>{{ reservation.numberOfChildren }}</td>
                                        <td>{{ reservation.totalAmount }}</td>
                                        <td>{{ reservation.reservationStatus }}</td>
                                        <td>{{reservation.refundProcessed ? 'Processed' : 'Not Processed'}}</td>
                                        <!-- <td>
                                            <button class="btn btn-danger"
                                                (click)="cancelReservation(reservation.reservationId)">Cancel
                                                Reservation</button>
                                        </td> -->
                                    </tr>
                                </tbody>
                            </table>

                            <!-- MatPaginator for pagination -->
                            <mat-paginator [length]="totalItems" [pageSize]="itemsPerPage"
                                [pageSizeOptions]="[3, 5, 10, 25, 100]" (page)="onPageChange($event)">
                            </mat-paginator>

                            <!-- Add the "No results found" message for the table -->
                            <div *ngIf="!pagedSearchResults || pagedSearchResults.length === 0" class="no-results">
                                <p>No results found.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>