.background-image {
    background-image: url('../../../assets/hotelownerlist.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.background-image::before {
    content: '';
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    height: 100%;
}

.card {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #b18800;
    color: white;
    padding: 1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-body {
    padding: 1.5rem;
}

table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}
th,
td {
    padding: 0.5rem;
    border: 1px solid #ddd;
}

th {
    background-color: #b18800;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.btn-primary {
    background-color: #b18800;
    border-color: #b18800;
}

.btn-primary:hover {
    background-color: #9c7a00;
    border-color: #9c7a00;
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(145, 122, 0, 0.5);
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    background-color: #9c7a00;
    border-color: #9c7a00;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled).active:hover,
.show>.btn-primary.dropdown-toggle:focus,
.show>.btn-primary.dropdown-toggle:hover {
    background-color: #9c7a00;
    border-color: #9c7a00;
    box-shadow: 0 0 0 0.2rem rgba(145, 122, 0, 0.5);
}

.btn-primary:disabled,
.btn-primary.disabled {
    background-color: #b18800;
    border-color: #b18800;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(145, 122, 0, 0.5);
}